<dl class="holdings">
	<% if document['holdings_display'] %>
		<dt><h1>Holdings</h1></dt>
		<dd><b class="holdings_library_header">Library:</b><b class="holdings_format_header">Format:</b></dd>
		<% if document['holdings_display'].is_a?(Array) %>
	        <% document['holdings_display'].each do |val| %>
	          <dd><%= val %><%= "<br/>" unless val == document['holdings_display'].last %></dd>
	        <% end %>
	    <% else %>
	        <dd><%= document['holdings_display'] %></dd>
	    <% end -%>
	    <% end -%>
</dl>
	
	