
.document { padding: 1em 0em; border-bottom: 1px dotted #CCCCCC;}

#hd { padding: 1em 0 0 0;}
.yui-t1 #yui-main, .yui-t2 #yui-main, .yui-t3 #yui-main {
    float: left;
    padding-left: 275px;
    width: 695px;
}

.yui-t2 .yui-b {
    float: right;
    width: 180px;
}

.yui-t2 #yui-main .yui-b {
    border-right: 1px dotted #CCCCCC;
    border-left: none;
    margin-left: 0px;
    padding: 2em 2em 2em 0em;
    position: inherit;
}

.sidebar { text-align: right;}
.sidebar ul { margin: 0em;}
.sidebar li { list-style: none;}

dl.defList {width:100%; overflow: auto; padding: 0.5em 0;}
dl.defList dt {
color:#888888;
float:left;
margin:0;
padding:1px 1em 2px 0;
text-align:right;
width:16%;
clear:both;
}

dl.defList dd {text-align: left; margin: 0; padding: 2px 0 1px 115px;}

.documentFunctions { float: right; margin: 0 0 12px 0;}

dl.defList_manifestation  { padding: .25em .3em; clear:both; }

div#odd {background:none repeat scroll 0 0 #FFF7E5;}
div#even {background: none repeat scroll 0 0 #E2EDFE;}

dl.defList_manifestation  dd { display: inline; margin-left: .25em;}
dl.defList_manifestation  dt { display:inline; margin-left: .5em;}

.manifestations {border: 1px solid #E0D9CA; margin: 1em 0;}

div.manLib {padding: .5em 2.5em .25em 21em; font-size: 1.4em;}
div.manLib label {padding: 0 1em;}

.manFormat {float:left; padding: .5em 0 .25em .25em; font-size: 1.4em;}
.manFormat a {font-size: 1em;}
.full_doc { float:right;}

.get_library {
margin:0;
padding:0;
width:460px;}

.holdings {margin-top: 4em; background-color: #EEEEEE; padding: 2em;}
.holdings_library_header { margin-right: 2em;   }
.holdings dd {margin-top: .5em;}
.holdings span {margin-right: 6em; text-align: right;}

h1.site_title {
background:url("../images/olac_logo_white_transparent.png") no-repeat scroll left top transparent;
height:87px;
padding:0em 0 0 0em;
width:264px;
}

h1.site_title a {
    border: 0 none;
    display: block;
    height: 100%;
    overflow: hidden;
    text-decoration: none;
    text-indent: -9999px;
    width: 100%;
}


#item_facets dl { margin-bottom: 2em;}
#item_facets dl dd { display: inline; margin-left: .5em;}
#item_facets dl h3 { display:inline;}
#item_facets span.selected {
color:green;
}

.about_text h1 {text-align: center;}
.about_text { text-align: left;}
.about_text div {font-size: 1.25em; margin-bottom: 1em;}
.about_text dt { margin-bottom: .5em; margin-left: -2em;}

#search {
    font-size: 120%;
    margin-left: 0;
    margin-top: 2.5em;
    float: right;
    position: relative;
    top: 0em;
}



#nav {
    font-size: 120%;
   
    text-align: right;
}

.nav dl dd { display: inline; margin-left: .5em;}

.nav a:link, .nav a:visited, .nav a:active {
    border-bottom: 1px dotted #AAAAAA;
    color: white;
    text-decoration: none;
}

/*.yui-t2 {
background:url("../images/kodak_border.png") repeat-x scroll left top #FFFFFF;
border-bottom:2px solid #555555;
margin:0 auto;
}*/

