
dl.defList {width:100%;}
dl.defList dt {
clear:both;
color:#888888;
float:left;
margin:0;
padding:2px 1em 2px 0;
text-align:right;
width:0%;
}
dl.defList dd {  margin-left: 6em; padding: .5px 0;}

.holdings {margin-top: 4em; background-color: #EEEEEE; padding: 2em;}
.holdings_library_header { margin-right: 2em;   }
.holdings dd {margin-top: .5em;}
.holdings span {margin-right: 6em; text-align: right;}

h1.site_title {
background:url("../images/olac_logo_white_transparent.png") no-repeat scroll left top transparent;
height:35px;
margin:2em 0 0 1em;
width:120px;
}

#item_facets dl { margin-bottom: 2em;}
#item_facets dl dd { display: inline; margin-left: .5em;}
#item_facets dl h3 { display:inline;}
#item_facets span.selected {
color:green;
}


/*.yui-t2 {
background:url("../images/kodak_border.png") repeat-x scroll left top #FFFFFF;
border-bottom:2px solid #555555;
margin:0 auto;
}*/

