<h1>Credits for the OLAC Work-Centric Moving Image Discovery Interface Prototype</h1>
<h2>Generously funded by <a href="http://www.olacinc.org">OLAC (Online Audiovisual Catalogers)</a></h2>
<div>Vision: Kelley McGrath, University of Oregon</div>
<div>Programming and development: Chris Fitzpatrick</div>

<div>
Developed with contributions and suggestions from a great many people, particularly Bill Kules (Catholic University of America) and Thelma Ross (Academy Film Archive), and the following groups:
</div>
<div>
<ul>
<dt><a href="http://www.olacinc.org/drupal/?q=node/27">OLAC Moving Image Work-Level Records Task Force (2008-2010)</a></dt>
<li>Kelley McGrath (chair), University of Oregon</li>
<li>Susannah Benedetti, University of North Carolina Wilmington</li>
<li>Lynne Bisko, Elon University</li>
<li>Greta de Groat, Stanford University</li>
<li>Ngoc-My Guidarelli, Virginia Commonwealth University</li>
<li>Jeannette Ho, Texas A&M University</li>
<li>Nancy Lorimer, Stanford University</li>
<li>Scott Piepenburg, Library Media Services, Dallas ISD</li>
<li>Thelma Ross, Academy Film Archive</li>
<li>Walt Walker, Loyola Marymount University</li>
<li>David Miller (advisor), Curry College</li>
<li>Jay Weitz (advisor), OCLC</li>
<li>Martha Yee (advisor), UCLA Film and Television Archive</li>
<li>Karen Gorss Benko (2008), Williams College</li>
<li>Scott M. Dutkiewicz (2008), Clemson University</li>
</ul>
</div>
<div>
<ul>
<dt><a href="http://www.olacinc.org/drupal/?q=node/434">OLAC Discussion Group on Developing a Work-Centric, Faceted Interface for Moving Images (2009- )</a></dt>
<dt>Main contributing members:</dt>
<li>Lynne Bisko, Elon University</li>
<li>Gayle Calverley, University of Manchester</li>
<li>Thuy-Anh Dang, University of North Carolina at Chapel Hill</li>
<li>Greta de Groat, Stanford University</li>
<li>Misty Hopper, Texas State University—San Marcos</li>
<li>Laura Jenemann, George Mason University</li>
<li>Diane Krall, Hamilton East Public Library (Noblesville, Indiana)</li>
<li>Bill Kules, Catholic University of America</li>
<li>Andrea Leigh, Library of Congress</li>
<li>Kelley McGrath, University of Oregon</li>
<li>Nathan Putnam, George Mason University</li>
<li>Diane Robson, University of North Texas</li>
<li>Thelma Ross, Academy Film Archive</li>
<li>George Wrenn, Humboldt State University</li>
</ul>
</div>
<div>
<ul>
<dt>Bill Kules’ User Interface Design and Evaluation class at Catholic University of America</dt>
<li>Vincenza Conley</li>
<li>Liane Cooper</li>
<li>Sarah Scruggs</li>
<li>Nathaniel Wolf</li>
</ul>
</div>