<h1>Feedback on the OLAC Work-Centric Moving Image Discovery Interface Prototype</h1>
<div>
	<p></p>
</div>
<div>
If you have comments, suggestions or questions about the prototype interface or if you are interested in participating in a grant project to build a production version of this system, please contact Kelley McGrath (kelleym at uoregon dot edu). 
</div>
<div>
	<p></p>
</div>
<div>
	<p></p>
</div>	
<div>
		<p></p>
	</div>
	<div>
		<p></p>
	</div>
	<div>
		<p></p>
	</div>
	<div>
		<p></p>
	</div>