<h1>Sample Searches and Use Cases for the OLAC Work-Centric Moving Image Prototype Discovery Interface</h1>

<h2>Sample Search Ideas</h2>
<h3>1.Keyword searches</h3>
<div>
Try keyword searches for some of the terms that were used to collect the records from which those used in this interface were selected
<ul>
<li>Dracula</li>
<li>Samurai</li>
<li>Sleep</li>
<li>Citizen Kane</li>
</ul>

The search for “samurai” demonstrates the potential for broad categories such as fiction and nonfiction to help a user navigate a result set.
</div>

<h3>2.Combining Movie/Program facets</h3>
<div>
To see recent documentaries, select documentaries from the movie/program genre facet and 2000s from the movie/program date facet.
</div>
<h3>3.Combining Version facets</h3>
<div>
To see all the DVDs at Library B with Spanish language soundtracks, select those options from the version facets
</div>
<h3>4.Combining Movie/Program and Version facets</h3>
<div>
Try combining 1980s in the date section of movies/programs with DVD from the format section of versions to see the available movies from that era.
</div>
<h3>5.Example of version choice using aspect ratio</h3>
<div>
Search for Nightmare on Elm Street to see how users may select among various aspect ratios depending on their preferences.  The results in the “Get from a Library” section include a DVD with only widescreen and a DVD with both widescreen and fullscreen versions. There is also a VHS version that gives the aspect ratio as unspecified. This means that an aspect ratio was not given in the original MARC record. An explicit declaration of unknown data makes it easier to identify data for later upgrading and warns users that they are taking their chances if this is an attribute that is important to them.
</div>
<h3>6.Simple browse list</h3>
<div>
To see a list of all the horror film directors, select horror from the movie/program genre facets and click on more in the director facet list. This defaults to a numeric sort that starts with the most prolific horror directors (at least in our sample). Clicking on A-Z sort will produce an alphabetical list. Unlike traditional library browse lists, this list does not include cross-references, but it theoretically could. It could also include contextual information, such as the title of the most widely-held movie directed by each individual.
</div>
<h3>7.Potential for specialized facets</h3>
<div>
Try searching for Sleeping Beauty. This search returns a number of dance performances on video, most of which are ballet. It is easy to see that additional facets like choreographer, composer, choreographic work, and music work would be helpful here.
</div>


<h2>Use Case Examples</h2>
<div>
<ul>
<dt>Looking for Movies or Programs (Works):</dt>
<li>A user might wish to search for a film by title or director</li>
<li>A user might want to see a list of directors of horror films or silent comedies</li>
<li>The teacher of a language or culture class might want to see movies that were originally in Spanish or from China or from French-speaking Africa</li>
<li>A user might want to browse by original release date for early film or recent releases or 1950s science fiction films</li>
</div>
<div>
<ul>
<dt>Looking for Movies or Programs (Works) refined by Versions (Expressions/Manifestations):</dt>
<li>After finding the French films, the user might want to limit to versions that have a French soundtrack to eliminate dubbed versions</li>
<li>The 1950s sci fi film fan might want to further limit to 2010 publication dates to see what has come out on DVD recently in that category</li>
<ul>
</div>
<div>
<ul>	
<dt>Looking for Versions (Expressions/Manifestations):</dt>
<li>A user might want to see all the Blu-ray discs at his or her local library</li>
<li>A user might want to browse through DVDs that are usable in Korean. In the demonstration interface, soundtrack and subtitle options are separated out, but in the long run a better approach might be to initially present a single language limiter for versions and then allow refinement to either spoken or subtitle languages</li> 
<li>A user who is studying Italian might want to see everything his or her library has with an Italian soundtrack</li>
<li>A user might wish to see all the DVDs published by the Criterion Collection</li>
</ul>
</div>
<div>
<ul>
<dt>Looking for Versions (Expressions/Manifestations) refined by Movies or Programs (Works):</dt>
<li>The person looking through Blu-ray discs at their local library, might then decide to limit the search to comedies</li>
<li>The person looking for Spanish language DVDs might then limit to recently-produced children's programs</li>
<li>The user looking through the Criterion Collection DVDs might decide to focus on silent films</li>
</ul>
</div>