<div>OLAC [link to http://www.olacinc.org] (Online Audiovisual Catalogers) is excited to announce the availability of our prototype for a FRBR-inspired, work-centric, faceted discovery interface for moving images at http://blazing-sunset-24.heroku.com.</div>
<div>
The OLAC Work-Centric Moving Image Discovery Interface Prototype is an exploration of the possibilities of leveraging the Functional Requirements for Bibliographic Records (FRBR) model and faceted search to improve access to moving image materials held by libraries and archives.
</div>
<div>
This prototype was funded by OLAC. Chris Fitzpatrick developed the demonstration interface to meet OLAC’s specifications using the free open source tools Ruby on Rails, Solr, and the Blacklight and Hydra plug-ins. This project was only possible due to the contributions of a great many people, some of whom are listed at http://blazing-sunset-24.heroku.com/page/credits.
</div>
<div>
In this demonstration interface we present the user with a two-level view inspired by the FRBR model. The top level, labeled Movie or Program, provides information about the FRBR Work and what we are calling the Primary Expression, usually the first publicly-released Expression. Facets for the Work/Primary Expression level are displayed across the top of the screen and the records found in the hit list contain information about the Work and Primary Expression. The second level, labeled Version, includes information about Expressions (language options), Manifestations (format and publication date), and in a very basic way about Items (what libraries or archives hold a particular Manifestation). Facets for the Version level are displayed separately on the side of the screen and information about the particular Versions that meet the user’s qualifications are displayed below each Work/Primary Expression.
</div>
<div>
An overview of the goals of the interface is available at http://blazing-sunset-24.heroku.com/page/about. Some suggested sample searches and potential use cases may be seen at http://blazing-sunset-24.heroku.com/page/samples.
</div>
<div>
We invite you to check it out and send us your feedback. Comments, questions, complaints, and suggestions may be sent to Kelley McGrath at kelleym@uoregon.edu. Also, if you are interested in contributing to a larger grant project to try to bring this idea into a production environment, please contact Kelley McGrath at kelleym@uoregon.edu.
</div>
