
<%# this should be in a partial -%>

<% sidebar_items << capture do %>
  <p><%= link_back_to_catalog %></p>
<% end %>

<%# this should be in a partial -%>
<div id="document">
    <div class="about_text">
		  	<%= render :partial => "show_#{params[:id]}" %>
    </div>
</div>
