<% # main container for facets/limits menu -%>
<div id="item_facets" class="item_facets">
  <% item_facets = ["genrename_facet", "workdate_facet", "worklang_facet", "countryname_facet", "directorname_facet"] %>
  <% item_facets.each do |solr_fname| %>
    <div>
      <% display_facet = @response.facets.detect {|f| f.name == solr_fname} -%>
      <% if display_facet.items.length > 0 %>
        <dl>
		<dt><h3><%= facet_field_labels[solr_fname] -%></h3>
		</dt>
          <% paginator =    
              Blacklight::Solr::FacetPaginator.new(display_facet.items,        
                :limit => 7)
          %>
          <% paginator.items.each do |item| -%>
            <dd>
            <% if facet_in_params?( solr_fname, item.value ) %>              
                <%= render_selected_facet_value(solr_fname, item) %>              
              <% else %>              
                <%= render_facet_value(solr_fname, item) %>              
            <% end -%>
            </dd>
          <% end %>
          
          <% if(paginator.has_next?)  %>
            <dd class="more_facets_link"><%= link_to('more »', params.merge(:id => solr_fname, :action=>"facet"), :class => "more_facets_link") %></dd>
          <% end %>
          
        </dl>
      <% end %>
    </div>
  <% end %>
</div>